:host {
  width: 100%;
  height: 100%;
  position: relative;

  --header-height: 10rem;
}

div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

router-outlet {
  position: relative;
}

header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent 0%, black 100%);
}

div.desktop header {
  top: 0;
  bottom: unset;
  background: linear-gradient(black 0%, transparent 100%);
  align-items: flex-start;
  padding-top: 2rem;
}

nav {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

a {
  color: white !important;
  font-size: 18px;
  padding: 0 20px !important;
}
