@if (song$ | async; as song) {
  <mat-card>
    <mat-card-content>
      <ul>
        @for (lyric of song.lyrics; track $index) {
          <li>
            <p>{{ lyric }}</p>
          </li>
        }
      </ul>
      <div class="title">
        <img
          [src]="song.album?.cover_art_url || song?.song?.header_image_thumbnail_url"
          width="64"
          height="64"
          [alt]="song?.song?.title"
        />
        <div>
          @if (song?.song?.title && song.song.title.length > 25) {
            <app-scrolling-text [value]="song.song.title"></app-scrolling-text>
          } @else {
            <span>
              <b>{{ song?.song?.title }}</b>
            </span>
          }

          @if (song?.song?.artist_names && song.song.artist_names.length > 25) {
            <app-scrolling-text [value]="song.song.artist_names"></app-scrolling-text>
          } @else {
            <span>{{ song?.song?.artist_names }}</span>
          }

          @if (!song.album?.name) {
            <span><i>Single</i></span>
          } @else {
            @if ((song.album?.name ?? '').length > 25) {
              <app-scrolling-text [value]="song?.album?.name ?? ''"></app-scrolling-text>
            } @else {
              <span>{{ song.album?.name }}</span>
            }
          }
        </div>
        <button mat-icon-button (click)="refresh($event)">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
}
