@import "material-icons/iconfont/material-icons.css";

html {
  height: 100%;
}

body {
  --app-background: white;
  --app-foreground: black;

  min-height: 100%;
  background-color: var(--app-background);
  color: var(--app-foreground);
}

body {
  margin: 0 auto;
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
}
